In [4]:
import duckdb
con = duckdb.connect(database='itineraries.duckdb')

In [3]:
preview_data_query = "FROM 'itineraries_snappy.parquet' LIMIT 5"
con.execute(preview_data_query).df()

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,False,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,False,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,False,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [6]:
load_query = """
    CREATE OR REPLACE TABLE itineraries 
    AS SELECT
        flightDate,
        startingAirport,
        destinationAirport,
        travelDuration, /* inferred from Arrival & Departure */
        isBasicEconomy, /* not required for analysis */
        isRefundable, /* not required for analysis */
        isNonStop, /* applied as a filter on a single value */
        baseFare, /* not required for analysis */
        totalFare,
        seatsRemaining,
        segmentsAirlineName,
        segmentsArrivalTimeRaw,
        segmentsDepartureTimeRaw,
        segmentsCabinCode
    FROM 'itineraries_snappy.parquet'
    WHERE isNonStop
"""

con.execute(load_query)

In [5]:
preview_data_query = "SELECT COUNT(*) FROM 'itineraries_snappy.parquet'"
con.execute(preview_data_query).df()

   count_star()
0      82138753

In [7]:
preview_data_query = "SELECT COUNT(*) FROM itineraries"
con.execute(preview_data_query).df()

   count_star()
0      22066888